.bordeRedondo {
    border-radius: 13px;
}
.bgMostaza{
    background-color: #D39914;
}.bgVerde {
    background-color: #08824c;
}
.bgBlack {
    background-color: #000;
}
body {
    background-image: url("/assets/img/otrasImg/mar.jpg");
}